<!DOCTYPE html>
<html>
	<head>
		<%= require('html-loader!./layout/header-common.html') %>
		<title>
			<%= htmlWebpackPlugin.options.title %>
		</title>
	</head>
	<body>
		<%= require('html-loader!./layout/nav.html') %>
		<%= require('html-loader!./layout/header.html') %>

		<div class="w">
			<ul class="keywords-list">
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=手机">手机</a>/
					<a class="link" target="_blank" href="./list.html?keyword=电脑">电脑</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=小米">小米</a>/
					<a class="link" target="_blank" href="./list.html?keyword=华为">华为</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=苹果">苹果</a>/
					<a class="link" target="_blank" href="./list.html?keyword=三星">三星</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=联想">联想</a>/
					<a class="link" target="_blank" href="./list.html?keyword=华硕">华硕</a>/
					<a class="link" target="_blank" href="./list.html?keyword=惠普">惠普</a>/
					<a class="link" target="_blank" href="./list.html?keyword=神舟">神舟</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=童装玩具">童装玩具</a>/
					<a class="link" target="_blank" href="./list.html?keyword=孕产用品">孕产用品</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=外套">外套</a>/
					<a class="link" target="_blank" href="./list.html?keyword=男裤">男裤</a>/
					<a class="link" target="_blank" href="./list.html?keyword=阿迪达斯">阿迪达斯</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=厨卫家电">厨卫家电</a>/
					<a class="link" target="_blank" href="./list.html?keyword=小家电">小家电</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=酒水饮料">酒水饮料</a>/
					<a class="link" target="_blank" href="./list.html?keyword=啤酒">啤酒</a>/
					<a class="link" target="_blank" href="./list.html?keyword=贵州茅台">贵州茅台</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=沐浴露">沐浴露</a>/
					<a class="link" target="_blank" href="./list.html?keyword=清洁">清洁</a>/
					<a class="link" target="_blank" href="./list.html?keyword=被子">被子</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=鞋靴">鞋靴</a>/
					<a class="link" target="_blank" href="./list.html?keyword=箱包">箱包</a>/
					<a class="link" target="_blank" href="./list.html?keyword=钟表">钟表</a>/
					<a class="link" target="_blank" href="./list.html?keyword=珠宝">珠宝</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
				<li class="keywords-item">
					<a class="link" target="_blank" href="./list.html?keyword=图书">图书</a>/
					<a class="link" target="_blank" href="./list.html?keyword=音像">音像</a>/
					<a class="link" target="_blank" href="./list.html?keyword=电子书">电子书</a>
					<i class="fa fa-angle-right" aria-hidden="true"></i>
				</li>
			</ul>
			<div class="banner-con">
				<div class="loading"></div>
			</div>
			<div class="sub-column">
				<div class="sub-item top">
					<a href="">
						<img src=<%=require('../image/sub-column/top.jpg') %> class="img-rounded">
					</a>
				</div>
				<div class="sub-item mid">
					<a href="">
						<img src=<%=require('../image/sub-column/mid.jpg') %> class="img-rounded">
					</a>
				</div>
				<div class="sub-item bottom">
					<a href="">
						<img src=<%=require('../image/sub-column/bottom.jpg') %> class="img-rounded">
					</a>
				</div>
			</div>
		</div>

		<!-- 商品展示 -->
		<div class="w">

            <div class="floor-wrap">
            	<h1 class="floor-title">数码电子</h1>
            	<ul id="floor1" class="floor-list">
            		<div class="loading"></div>
            	</ul>
            </div>
            
            <div class="floor-wrap">
            	<h1 class="floor-title">服装箱包</h1>
            	<ul id="floor2" class="floor-list">
            		<div class="loading"></div>
            	</ul>
            </div>
            
            <div class="floor-wrap">
            	<h1 class="floor-title">酒水饮料</h1>
            	<ul id="floor3" class="floor-list">
            		<div class="loading"></div>
            	</ul>
            </div>
		</div>

		<%= require('html-loader!./layout/footer.html') %>
	</body>
</html>
