.form-line{
    height: 50px;
    line-height: 50px;
    font-size: 20px;
}
.form-line .label{
    display: inline-block;
    width: 95px;
    text-align: right;
    color: #444;
}
.user-info .btn-submit{
    background: #f10215;
    width: 150px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    margin: 5px 316px;
}

.form-line .input{
    height: 30px;
    line-height: 30px;
    width: 200px;
    font-size: 15px;
    padding-left: 5px;
    margin-left: -10px;
    border: 1px solid #555;
    border-radius: 3px;
}