.footer{
	padding-bottom: 10px;
    margin-top: 25px;
    background: #fff;
}
.footer .links{
	text-align: center;
	color: #000;
	line-height: 30px;
}
.footer .links .link{
	padding:0 10px;
    font-size: 13px;
    color: #000;
}
.footer .copyright{
	text-align: center;
	color: #000;
	line-height: 30px;
    font-size: 13px;
}