<div class="header">
	<div class="w">
		<div class="navbar-form navbar-left search-con" role="search">
            <a class="navbar-brand logo" href="./index.html">
            	SHOP
            </a>
			<div class="form-group">
				<input type="text" class="form-control search-input" id="search-input"
                    placeholder="请输入商品名称">
                <button class="btn search-btn" id="search-btn">
                    <i class="fa fa-search fa-1x" aria-hidden="true"></i>
                </button>
			</div>
			
		</div>
	</div>
</div>
