body{
    background: #fcfcfc;
}
.nav-simple{
	height: 53px;
	line-height: 53px;
	border-bottom: 1px solid #ddd;
	background: #fcfcfc;
}

.nav-simple .w{
    height: 53px;
    line-height: 53px;
}

.nav-simple .logo{
	font-size: 26px;
	font-weight: bold;
	color: #f10215;
	text-decoration: none;
}
